### Server
PORT=3000
BASE_API_URL="http://localhost:3000"
BASE_WEB_URL="http://localhost:3001"
NODE_ENV="development"

### Database
DATABASE_URL="postgresql://docker:docker@localhost:5432/api?schema=public"

### Prisma
PRISMA_LOG_ERROR=false
PRISMA_LOG_WARN=false
PRISMA_LOG_INFO=false
PRISMA_LOG_QUERY=false
PRISMA_ERROR_FORMAT="pretty" # "pretty", "colorless", "minimal"

### Storage
UPLOAD_DRIVER="s3"          # Tipo enum: (s3, minio, local)
STORAGE_ENVIRONMENT="local" # Tipo enum: (local, aws, minio)
STORAGE_URL="http://localhost:4566"
STORAGE_ENDPOINT="http://localhost:4566"
STORAGE_GET_ENDPOINT="http://localhost:4566"
STORAGE_BUCKET="fast-curriculum"
STORAGE_REGION="us-east-1"
STORAGE_ACCESS_KEY_ID="test"
STORAGE_SECRET_ACCESS_KEY="test"

### Auth
JWT_SECRET="secret"
JWT_EXPIRES_IN="7d"

### Logger
LOG_ENABLE_FILE=true
LOG_ENABLE_LOGSENE=false
LOG_LOGSENE_TOKEN=""

### Mercado Pago
MERCADO_PAGO_ENABLE_MODULE=true
MERCADO_PAGO_BASE_URL="https://api.mercadopago.com"
MERCADO_PAGO_ACCESS_TOKEN=""

### Envio de e-mail
EMAIL_DEFAULT_FROM=""
EMAIL_DEFAULT_FROM_NAME="Fast Curriculum"
EMAIL_DRIVER="ethereal" # sendgrid|ethereal (ethereal é usado para testes)
SENDGRID_API_KEY=""
